/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

 html {
  font-size: 16px;
 }

 body {
  color: #e2e3ed;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  text-align: left;
 }

 ul,
 ol {
  list-style-type: none;
 }

 a {
  color: #e2e3ed;
  text-decoration: none;
 }

 h1, h2, h3, h4 {
  color: #e2e3ed;
 }

 h1 {
  font-size: 2.25em;
 }

 h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
 }

 h3,
 h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
 }

 p {
  font-size: .875em;
 }

 img {
   width: 100%;
 }

 figure {
   margin: 0;
 }

 address {
   font-style: normal;
 }

 .content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/* -------------------- Base Header - Footer Styles -------------------- */

header, footer {
  align-items: center;
  background-color: #202322;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header {
  padding: 15px 0;
}

header .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  width: 100%;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header a {}

header .header-divider {
  background-color: #3a3a3a;
  height: 1px;
  margin: 10px 0 20px 0;
  width: 100%;
}

header nav {
  align-items: center;
  display: flex;
  font-size: 1.125em;
  font-weight: 700;
  flex-flow: row wrap;
  justify-content: space-around;
  text-transform: uppercase;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

header nav ul li {}

header nav ul a {}

footer {
  flex-direction: column;
  text-align: center;
}

footer h4 {
  width: 100%;
}

footer p {
  padding: 0;
}

footer .contact {
  margin-bottom: 50px;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .social {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer .social-icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

footer .social-icons p {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer .copyright {
  margin: 20px 0;
}

/* -------------------- Mobile Styles - Homepage -------------------- */

/* Hero Area */

.hero-area {
  background: url('../img/hero-image.jpg') center no-repeat #7ea986;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.hero-area h1 {
}

/* Aside */

aside {
  align-items: center;
  background-color: #527158;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form-description {}

.form-description h3 {}

.form-description p {}

.form {}

.form h3 {}

.form input {}

aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* Features */

.features {
  background: url('../img/features-image.jpg') center no-repeat #7ea986;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.features h2 {
  margin-bottom: 60px;
}

.features .content-wrapper {}

.features .features h2 {}

.features p {
  padding: 0;
  text-align: center;
}

.features .features-items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.features article {
  margin: 30px 0;
  width: 50%;
}

.features .fontawesome-icon {}

.features .features-item-description {}

.features .features-items p {

}

/* Reviews */

.reviews {
  background-color: #2a423a;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.reviews h2 {
  line-height: 1;
  margin-bottom: 40px;
}

.reviews h3 {
  margin: 20px 0;
  width: 50%;
}

.reviews p {}

/* Footer */

footer {}

footer .content-wrapper {
}


.footer-content {}

.contact {}

.contact h4 {}

.contact p {}

.social {}

.social h4 {}

.social-icons {}

.social-icons p {}

.social-icons a {}

.copyright {}

.copyright p {}

/* ==========================================================================
   About Page
  ========================================================================== */

.mission {
  align-items: center;
  background-color: #527158;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-section {
  align-items: center;
  background-color: #2a423a;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-section .contact-wrapper {
  padding: 50px 20px;
}

.contact-content p {
  margin: 0;
}

.map figure {
    width: 100%;
    height: 0;
    padding-bottom: 93%;
    overflow: hidden;
    position: relative;
}

.map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* ==========================================================================
   FAQ Page
  ========================================================================== */

.faq {
  align-items: center;
  background-color: #527158;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.faq .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px 0 0 0;
}

.faq h2 {
  line-height: 1;
  margin-bottom: 40px;
}

.faq-content {
  margin-bottom: 50px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*Tablet styles here*/
@media only screen and (min-width: 768px) {
  /* General styles */
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }

  /* Header */
  header {
    justify-content: space-around;
  }

  header .content-wrapper {
    justify-content: space-between;
    width: 100%;
  }

  header figure {
    width: 30%;
  }

  header nav {
    width: 20%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }

  /* Hero Area */
  .hero-area h1 {
    font-size: 3em;
    margin: 0;
  }

  /* Aside */
  aside .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 50px 0;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 35%;
    margin: 0;
  }

  /* Features */
  .features h2 {
    margin: 0 20px 20px 0;
    width: 100%;
  }

  .features article {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-flow: column wrap;
    justify-content: center;
  }

  .features .features-item-description {
    width: 50%;
  }

  /* Reviews */

  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews h2 {
    width: 90%;
  }

  .reviews article figure,
  .reviews article div {
    width: 49%;
  }

  .reviews h3 {
    width: 75%;
    margin: 0;
}

  /* Footer */
  footer-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;
  }

  footer .contact {
    margin-bottom: 0;
  }

  footer .copyright {
    width: 100%;
  }

  /* ==========================================================================
     About Page
     ========================================================================== */

  .mission-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .mission-content p {
    width: 40%;
  }

  .contact-section .content-wrapper h2 {
    width: 40%;
  }

  .contact-content {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

/* ==========================================================================
   FAQ Page
   ========================================================================== */
  .faq .content-wrapper {
    justify-content: space-between;
  }

  .faq-content {
    flex-basis: 40%;
  }

  .faq h2 {
    width: 100%;
  }
}


/*Desktop styles here*/
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 960px;
  }

  h2 {
    font-size: 2.25em;
  }

  h3, h4 {
    font-size: 1.875em;
  }

  p {
    font-size: 1.125em;
  }

  /* Header */

  header figure {
    width: 22%;
  }

  /* Hero */
  .hero-area h1 {
   font-size: 3.75em;
   width: 60%;
 }

  /* Aside */
  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
  }

  /* Features */
  .features h2 {
    width: 70%;
  }

  .features article {
    flex-basis: 33%;
  }

  /* Reviews */
  .reviews article div {
    width: 42%;
  }

/* ==========================================================================
About Page
========================================================================== */
  .mission h2,
  .contact-section .content-wrapper h2 {
    font-size: 3em;
    width: 100%;
  }

  .contact-section .content-wrapper h2 {
    margin-bottom: 40px;
  }


/* ==========================================================================
FAQ Page
========================================================================== */
  .faq h2 {
    font-size: 3em;
    width: 100%;
  }

  .faq-content {
    flex-basis: 35%;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
